[Desktop Entry]
Name=PokeMMO
GenericName=PokeMMO
Type=Application
Comment=Multiplayer Animal Hoarding Simulator
Icon=com.pokemmo.PokeMMO
Exec=pokemmo.sh
Terminal=false
StartupNotify=false
Keywords=pokemmo;pokemon
Categories=Game